#sidebar-menu ul li a:hover{
    color: var(--theme-sidebar-dark-menu-item-active-color) !important;
}

body[data-sidebar=dark] #sidebar-menu ul li a {
    color: var(--theme-sidebar-dark-menu-item-color);
}

body[data-layout-size=boxed].vertical-collapsed .footer {
    max-width: calc(1300px - 70px)
}
body[data-sidebar-size=small].vertical-collapsed .footer {
    left: 70px
}

#sidebar-menu{
    margin-top:70px;
    height: 100vh;
    background-color: var(--theme-primary);
    padding: 20px 0;
    position: fixed;
    width: 210px;
    z-index: 1001;
}
#sidebar-menu ul{
    padding: 0;
  margin: 0;
}

#sidebar-menu ul li a {
    display: block;
    padding: .625rem 1.5rem;
    color: var(--bs-sidebar-menu-item-color);
    position: relative;
    font-size: 13.3px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-family: Inter, sans-serif;
    font-weight: 500;
}
#sidebar-menu ul li:hover .appIcon path{
fill:var(--theme-sidebar-dark-menu-item-active-color);
}
#sidebar-menu ul li .badge {
margin-left:.5rem;
}

#sidebar-menu .side-nav-link{
    padding:0 .3rem;
}
#sidebar-menu ul li ul.sub-menu li a {
    padding: .4rem 1.5rem .4rem 3.2rem;
    font-size: 13px;
    color: var(--theme-sidebar-dark-menu-item-color);
}
#sidebar-menu .mm-active>.has-arrow .navIcon {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.vertical-collapsed #sidebar-menu ul li:hover .side-nav-link{
color: var(--theme-white);
}
.vertical-collapsed #sidebar-menu ul li:hover .sub-menu li a{
    color:var(--theme-primary)!important;
} 
.vertical-collapsed  #sidebar-menu .badge, 
.vertical-collapsed  #sidebar-menu .collapse.in, 
.vertical-collapsed  #sidebar-menu .menu-title {
    display: none !important;
}
.vertical-collapsed #sidebar-menu {
  width: 70px;

}
.vertical-collapsed #sidebar-menu ul {
  list-style-type: none;
  padding: 0;
  /* padding:3rem 0; */

}
/* logo */
.vertical-collapsed .navbar-brand-box{
    width: 70px !important;
}
.vertical-collapsed .navbar-brand-box .logo-light .logo-lg {
display: none;
}
.vertical-collapsed .navbar-brand-box .logo-light .logo-sm {
    display: block;
    }


.vertical-collapsed #sidebar-menu ul li {
  /* padding: 10px 0; */
  position: relative;
}
.vertical-collapsed #sidebar-menu ul li span {
  display: none;
  position: absolute;
  left:70px;
  top: 0;
  white-space: nowrap;
  background-color:var(--theme-primary);
  padding: 5px;
}
.vertical-collapsed #sidebar-menu ul li a{
    min-height:55px;
}
.vertical-collapsed #sidebar-menu ul li:hover .side-nav-link {
  display: inline-block;
  padding:0.8rem 1rem;
  width:180px;

}
.vertical-collapsed #sidebar-menu ul li:hover .sub-menu{
    position: absolute;
  display: inline-block;
  /* padding:0.8rem 0.8rem; */
  width:180px;
  left:4.4rem;
  top:2.8rem;
  /* background-color: var(--theme-white); */
  background-color: var(--theme-white);
  box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1);
  color: var(--theme-dark);
}

.vertical-collapsed #sidebar-menu ul li .sub-menu{
    display: none;
}
.vertical-collapsed #sidebar-menu ul li:hover .sub-menu li a{
    padding:0.8rem 0.6rem;
}
.vertical-collapsed #sidebar-menu ul li:hover .sub-menu li{
    display: inline;
}
.vertical-collapsed .footer {
    left: 70px
}
.vertical-collapsed .main-content {
    margin-left: 70px
}